body {
    margin: 0;
}

#canvas {
    min-height: calc(100vh - 90px);
    background: #fff;
}

#title {
    padding: 0 calc(100vw / 2 - 308px);
}

#editor {
    outline: none;
}

#editor p {
    overflow-wrap: break-word;
    width: 616px;
    padding: 0 calc(100vw / 2 - 308px);
}
