body {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    margin: 0;
    background: rgb(246, 246, 246);
}

.vf-editor {
    background: #fff;
    width: 900px;
    height: calc(100vh - 100px);
    box-shadow: 0 1px 3px rgba(26,26,26,.1);
    padding: 30px;
}

.vf-input {
    position: fixed;
    z-index: -1;
}
