body {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    margin: 0;
    background: rgb(246, 246, 246);
}

.editor {
    position: relative;
    background: #fff;
    width: 900px;
    min-height: calc(100vh - 100px);
    box-shadow: 0 1px 3px rgba(26, 26, 26, .1);
    padding: 10px 30px;
    letter-spacing: 1px;
}

.editor p {
    word-break: break-word;
}

.cursor {
    position: absolute;
    top: -9999px;
    width: 2px;
    height: 15px;
    background: red;
}

.input {
    position: fixed;
    z-index: -1;
}
